:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

button {
  color: inherit;
}

#app {
  display: flex;
  flex: 1;

  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 48px;
  --font-size-xxxlarge: 72px;

  --spacing-tiny: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --spacing-xxlarge: 48px;
  --spacing-xxxlarge: 72px;

  --animate-fast: 150ms;
  --animate-normal: 300ms;
  --animate-slow: 700ms;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #2196f3;
    --secondary-color: #f9a41a;
    --accent-color: #8dc63f;
    --background-color: #f0e2e7;
    --text-color: #212121;
    --light-text-color: #757575;
    --light-text-color-2: #fefefe;
    --shadow-color: #212121;
    --warning-color: #eaca44;
    --error-color: #ef4d4d;

    color: var(--text-color);
    background-color: var(--background-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #2196f3;
    --secondary-color: #f9a41a;
    --accent-color: #8dc63f;
    --background-color: #f0e2e7;
    --text-color: #212121;
    --light-text-color: #757575;
    --light-text-color-2: #fefefe;
    --shadow-color: #212121;
    --warning-color: #eaca44;
    --error-color: #ef4d4d;

    color: var(--text-color);
    background-color: var(--background-color);
  }
}
